{{!< default}}

<header id="site-head">
    <div class="logo">
        {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    </div>
    <div class="title">
        <h1 class="blog-title">{{@blog.title}}</h1>
        <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
    <div class="delimiter"></div>
</header>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
        <div class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM DD"}}</time>
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY"}}</time>
            <!--time datetime="{{date format='YYYY-MM-DD'}}">{{date format="(dddd)"}}</time-->
            <div class="tags">
                {{#if tags}}<div class="post-meta tags"><span class="hashtag">#</span>&nbsp;{{tags}}</div>{{/if}}
            </div>
        </div>
        <h1 class="post-title" title="{{#if tags}}{{tags}}{{/if}}"><a href="{{url}}">{{{title}}}</a></h1>
        </header>
        <section class="post-body">
            <p><span class="time">It is {{date format="MMMM DD"}}.</span>{{content}}</p>
        </section>
        <!--a class="continue" href="{{url}}">Continue reading this article</a-->
    </article>

    {{/foreach}}

    {{pagination}}

</main>